.logo {
  height: 1.5em;
}
.btn {
  width: 20em;
}

header .carousel-inner .item {
  height: 100vh;
}

.banner {
  height: 100vh;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	
  }

.carousel-caption {
  padding-bottom: 250px !important;
  /* padding-bottom: 25em !important; */
}
.carousel-caption h2 {
  font-size: 90px;
  text-transform: uppercase;
  font-weight: bold;
}
.carousel-caption h2 span {
  color: #edbb00;
}
.carousel-caption a {
  padding: 15px 35px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
}
.color li a {
  color: #fff;
}
#nav li a {
  color: white;
}
.hover li a:hover {
  color: #f36c24 !important;
}
.hover li a {
  margin-right: 20px;
}
 .box {
  background-image: url(/images/bg-colorful.jpg);
  background-size: cover;
  padding-bottom: 5em;
  height: 100%;
}
#location .btn {
  background-color: #b2d235 !important;
  width: 11em;
  font-weight: 900;
}

#location .container {
  min-width: 50%;
}

.bg-main {
   background: url(/images/juices.jpg);
   /* position: relative; */
   background-size: cover;
   background-position:center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin-top: 3em;;
}

#team .bg-image {
  background: url(/images/team.jpg);
  background-size: cover;
  padding-bottom: 5em;
  height: 100%;
}
#social .image img {
  display: block;
  width: 100%;
  height: 450px;
  
}
#social .zoom img {
  transform: scale(1);
  transition:  0.5s ease-in-out;
}
#social .zoom:hover img {
  transform: scale(1.2);
  
}
#social figure{
  overflow: hidden;
}

form {
  width: 40em !important;
 
}
form input{
  background-color:#F7F7F7 !important;
}

/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    padding-bottom: 350px;
  }
  .carousel-caption h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-inverse .navbar-brand {
    font-size: 30px;
    padding: 20px 15px;
  }
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.5);
  }
  .carousel-caption {
    padding-bottom: 320px !important;
  }
  .carousel-caption h2 {
    font-size: 25px;
  }
  .carousel-caption h3 {
    font-size: 18px;
  }
  .carousel-caption a {
    padding: 10px 25px;
  }
}
